<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">-->
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>just for testing purpose </title>
</head>
<body>
<div class = "container mt-4 p-4">
    <h1 class ="text-center">Chat is this for Real </h1>
    <div id = "chat"
         class="border rounded p-3 h-60 ">
    </div>
    <div class = "input-group mb-3 flex flex-col gap-2 w-full ">
        <label for="senderInput" class="form-label"> Name </label>
        <input id = "senderInput" type = "text" class="form-control w-full border rounded " placeholder="Your Name ..."/>
    </div>
    <div class = "input-group mb-3">
        <input class="form-control" id="body" placeholder="Enter Text ...." type="text"/>
        <button class="border rounded p-2"> send </button>
    </div>
</div>
</body>
</html>